!.gitignore
!README.md
!CHANGELOG.md
!LICENSE
!.env.example


# Environment variables
.env

# Logs
logs/
*.log

# Docker
docker-compose.override.yml
.dockerignore

# Temporary files
tmp/
temp/
*.tmp
*.log

# Secrets
secrets/
!shared/*.example

# Secrets
shared/
!shared/*.example

# Include specific example files
!appdata/traefik2/rules/*.example.toml
!appdata/traefik2/rules/*.example.yml

# Ignore everything else in the appdata directory
appdata/


#vscode
.vscode/