# Include specific files
!.gitignore
!README.md
!CHANGELOG.md
!LICENSE
!.env.example

# Exclude Environment variables and personal websites
.env
php-apache-awl.yaml
php-apache-gillisonline.yaml
create_users_nextcloud.sh
create_shares_nextcloud.sh

# Logs
logs/
*.log

# Docker
docker-compose.override.yml
.dockerignore

# Temporary files
tmp/
temp/
*.tmp

# Secrets
# Include specific example files
!shared/*.example
# Ignore everything else in the appdata directory
secrets/

# Include specific example files
!appdata/traefik2/rules/*.example.toml
!appdata/traefik2/rules/*.example.yml
# Ignore everything else in the appdata directory
appdata/

# Visual Studio Code settings
.vscode/
