!.gitignore
!README.md
!CHANGELOG.md
!LICENSE
!.env.example


# Environment variables
.env

# Logs
logs/
*.log

# Docker
docker-compose.override.yml
.dockerignore

# Temporary files
tmp/
temp/
*.tmp
*.log

# Secrets
secrets/
!shared/*.example

# Secrets
shared/
!shared/*.example

# appdata
appdata/
!appdata/traefik2/rules/*.example